.page-header
  = render 'page_header'

= render 'new_comment'

%hr
- if @posts.count == 0
  <font color="gray"><i>There is no posts, yet.</i></font>
- else
  = will_paginate @posts
  %table
    - @posts.each do |post|
      %tr
        = render post, :locals => { :post => post }
  = will_paginate @posts
%hr
