%h1 Category '#{@category.name}'
%fieldset
  %legend Create a new post
  = form_for [@category, @category.posts.build]  do |f|
    = f.text_area :content, :class => "xxlarge", :rows => 5
    %span(class = "help-block") Your message in the category
    = f.submit 'Create post', :class => "btn success"

%hr
- if @posts.count == 0
  <font color="gray"><i>There is no posts, yet.</i></font>
- else
  %table
    - @posts.each do |post|
      %tr
        = render post, :locals => { :post => post }
%hr
