= form_for @category do |f|
  .clearfix
    = f.label :name
    .input
      = f.text_field :name
  .clearfix
    = f.label :description
    .input
      = f.text_area :description, :rows => 5
      %span(class = "help-block") Showed in the category's page
  .actions
    = f.submit 'Create category', :class => "btn success"
    = link_to 'Cancel', :back, :class => "btn"

