%h3= link_to 'Topican', root_path
%ul(class = "nav")
  - unless signed_in? 
    %li= link_to 'Home', root_path
    %li= link_to 'Sign in', login_path
    %li= link_to 'Sign up', signup_path
  - else 
    %li= link_to 'Categories', categories_path
    %li= link_to 'Users', users_path

- if signed_in? 
  = render 'layouts/menu'
- else
  .pull-right
    = form_for(:session, :url => sessions_path) do |f|
      = f.text_field :email, :class => "input-small", :placeholder => "Email address"
      = f.password_field :password, :class => "input-small", :placeholder => "Password"
      = f.submit 'Sign in'#, :class => "btn"
