<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= render :partial => "layouts/header" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <% flash.each do |key, value| %>
      <div class="alert-message <%= key %>">
        <a class="close" href="#">x</a>
        <p><%= value %></p>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <div class="footer">
    Copyright &copy; Ákos Kovács - 2011
  </div>
</div>
</body>
</html>
